<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link type="text/css" rel="stylesheet" href="/css/materialize.min.css"  media="screen,projection"/>
    <link rel="stylesheet" href="/css/style.css">
    <link rel="icon" href="https://sinatrarb.com/images/favicon.ico">
    <title>Sinatra Twitter</title>
</head>
<body>
    <div class="container">
        <%= yield %>
    </div>

    <!-- Modal Structure -->
        <div id="tweetModal" class="modal" style="display: none;">
            <button id="exit-btn" class="waves-effect waves-teal btn-flat">&times;</button>
            <div class="modal-content">
                <%= erb :'tweets/new', locals: { hidden: false } %> <!-- Include the form here -->
            </div>
        </div>


    <footer>
        <div id="modal-btn" class="fixed-action-btn">
            <a class="btn-floating btn-large red">
                <i class="large material-icons">mode_edit</i>
            </a>
        </div>
    </footer>
    

    <script type="text/javascript" src="/js/materialize.min.js"></script>
    <script type="text/javascript" src="/js/script.js"></script>
</body>
</html>