.modal {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    padding: 20px;
    z-index: 1000;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0,0,0,0.25);
    display: none; /* Ensure modal is initially hidden */
}

.modal-close {
    text-align: right;
}

#exit-btn {
    font-size: 2rem;
    float: right;
}